version: "3.9"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: heritagegraph360
      POSTGRES_USER: heritage
      POSTGRES_PASSWORD: heritage
    ports:
      - "5432:5432"
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
  zookeeper:
    image: bitnami/zookeeper:3.9
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"
  kafka:
    image: bitnami/kafka:3.7
    environment:
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
  prometheus:
    image: prom/prometheus:v2.52.0
    volumes:
      - ./../monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana:10.4.2
    ports:
      - "3000:3000"
    volumes:
      - ./../monitoring/grafana-dashboard.json:/var/lib/grafana/dashboards/heritagegraph360.json:ro
