apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-service
  namespace: heritagegraph360
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identity-service
  template:
    metadata:
      labels:
        app: identity-service
    spec:
      containers:
        - name: identity-service
          image: heritagegraph360/identity-service:local
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: local
---
apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: heritagegraph360
spec:
  selector:
    app: identity-service
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
